:root {
  --text-color-A: rgb(52, 54, 52);
  --text-color-B: black;
}

.App {
  margin-top: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
  text-align: left;
}

h1 {
  font-size: 3rem;
  font-family: 'Space Mono', monospace;
  color: var(--text-color-A);
}

h2 {
  margin-top: 1;
  font-size: 2rem;
  font-family: 'Space Mono', monospace;
  color: var(--text-color-A);
}

#question {
  font-family: 'Roboto Mono', monospace;
  background: none;
  width: 100%;
  font-size: 2rem;
  color: var(--text-color-B);
  border: none;
  border-bottom: black;
  border-bottom-style: solid;
}

#answer {
  font-family: 'Roboto Mono', monospace;
  background: none;
  border: none;
  width: 70vw;
  font-size: 1.5rem;

}

.row {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}
button {
  font-size:2vh;
  width:8vw;
  height:5vh;
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: rgb(70, 70, 70);
  text-align: center;
  transition: all 0.2s;
}
button:hover {
transform: scale(1.05);
}

@media all and (max-width:30em) {
button {
    display: block;
    margin: 0.4em auto;
  }
}

.unpressed {
  background-color:rgb(63, 63, 63);
  color:whitesmoke;
}

.flushLeft{
  position: relative;
  left:0;
}